.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.box-messages {
  text-align: center;
  flex-direction: column;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.loading-text {
  text-align: center;
  flex-direction: column;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.box-messages .icon,
.loading-text .icon {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.loading-text i {
  margin-bottom: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.form .field .prompt.label {
  display: none;
}
